.admin {
    /* classa admina */
    border: double #000000 3px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.admin.index {
    /* seznamy */
}

.admin.index > h1 {
    display: block;
    width: auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin: 0px;
}

.admin > .list {
    display: block;
    width: auto;
}

.admin > .list > table {
    width: 100%;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-collapse: collapse;
    margin: 20px 0px 20px 0px;
}

.admin > .list > table th {
    border-bottom: solid black 1px;
    background-color: #efefef;
}

.admin > .list > table th,
.admin > .list > table td {
    padding: 2px 10px 2px 10px;
}

.admin > .list > table td {
    height: 40px;
}

.admin > .list > table tr:hover td {
    background-color: #ffff99;
}

.admin > .list.last-bordered > table tr:last-child td,
.admin > .list.last-bordered > table tr:last-child:hover td{
    border-top: solid #000000 1px;
    background-color: #efefef;
}

.admin > .footer {
    display: block;
    width: auto;
    margin: 20px 0px 20px 0px;
}

/*******************************************************************************
 * IKONY
 ******************************************************************************/

.icon.warning {
    background-position: center center;
    background-image: url('/assets/icons/error.png');
    background-repeat: no-repeat;
    height: 51px;
    display: block;
}

/*******************************************************************************
 * VSECHNO OSTATNI
 ******************************************************************************/

a {
    color: #000000;
}