/*******************************************************************************
 * general
 ******************************************************************************/

/*.form-wrapper {
    text-align: center;
}



form .controls {
    display: inline;
}*/

/*******************************************************************************
 * tables
 ******************************************************************************/

.list > table {
    border: solid #000000 1px;
    width: 100%;
}

.list > table td {
    text-align: center;
}

.list > table thead td {
    font-weight: bold;
    background-color: #ffffff;
}

.list > table thead tr:last-of-type td {
    border-bottom: solid #000000 1px;
}

.list > table tfoot td {
    padding: 5px;
}

.list > table tfoot tr:first-of-type td {
    border-top: solid #000000 1px;
    text-align: center;
}

/*******************************************************************************
 * item detail
 ******************************************************************************/

div.detail {
    /*border: solid #000000 1px;*/
    width: auto;
    padding: 10px;
    border-radius: 5px;
}

div.detail > .header {
    background-color: #ffffff;
    width: auto;
}

div.detail > .header:last-of-type {
    /*border-bottom: solid #000000 1px;*/
    width: auto;
}

div.detail > .content > .line {
    width: auto;
}

div.detail > .content > .line:not(:first-child) {
    margin-top: 10px;
}

div.detail > .content > .line > * {
    display:  inline-block;
}

div.detail > .content > .line > *:first-child {
    width: 50%;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}

div.detail > .content > .line > *:last-child {
    text-align: left;
}

div.detail > .footer {
    margin-top: 10px;
    text-align: center;
}

div.detail > .footer:first-of-type {
    /*border-top: solid #000000 1px;*/
    width: auto;
}