/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .admin.index, .admin.new, .admin.edit, .admin.show {
     border: solid #000000 1px;
     border-radius: 10px;
     text-align: center;
     overflow: hidden;
 }

 .admin.new > h1, .admin.edit > h1 {
     display: inline-block;
     width: 100%;
     text-align: center;
     border-bottom: solid #000000 1px;
     margin: 0px;
     padding: 0px;
     line-height: 60px;
     background-color: #eeeeee;
 }

 .admin.new > form, .admin.edit > form {
     margin: 20px;
 }

 .admin.index {
     text-align: center;
 }

 .admin.index > table {
     display: block;
     width: auto;
     margin: auto;
     border: solid #000000 1px;
 }

 .admin.index > table {
     border-bottom: solid #000000 1px;
 }

 .admin.index > table th {
     font-weight: bold;
 }